---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Search from "../components/Search.astro";

---

<Layout title="Recipe App">
  <main>
    <h1>Welcome to The Recipe App</h1>
    <p class="instructions">
      To get started, click below to add a new recipe or generate a meal plan
      for the week!<br />
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="/recipes/"
        title="Recipes"
        body="Review exisiting recipes or add new ones!"
      />
      <Card
        href="/mealPlans/"
        title="Meal Plans"
        body="Review exisiting meal plans or generate a new one!"
      />
    </ul>
  </main>
</Layout>

<style>
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
</style>
